body {
    font: 12px Georgia,Monospace;
    text-align: center;
    background-color: #fafafa;
    position: relative;
    height: auto;
    width: 100%;
    min-height: 100%;
    margin: 0;
    padding: 0;
}

.g_header {
    height: 78px;
    position: relative;
    background-color: white;
    border-style: none none solid;
    border-width: 3px;
    border-color: #f1f1f1;
}

.g_contentpanel {
    width: 1103px;
    height: 78px;
    position: relative;
    margin: 0 auto;
}

.g_content {
    width: 1103px;
    height: auto;
    display: inline-block;
    position: relative;
    margin-top: 12px;
}

.g_content_left {
    width: 258px;
    height: 880px;
    position: relative;
    float: left;
    color: #fff;
    border-style: none solid;
    border-width: 3px;
    border-color: #f1f1f1;
}

.g_content_right {
    width: 810px;
    min-height: 880px;
    position: relative;
    float: right;
    background-color: #fff;
    border-style: solid;
    border-width: 3px;
    border-color: #f1f1f1;
}

.g_up {
    height: 129px;
    background-color: #c20b0b;
    border-style: solid none none;
    border-width: 3px;
    border-color: #f1f1f1;
}

.g_down{
    height: 743px;
    margin-top: 8px;
    background-color: #d71414;
    border-style: none none solid;
    border-width: 3px;
    border-color: #f1f1f1;
}


.g_header ul,.g_content ul,.g_footer ul{
    position: relative;
    float: right;
}

.g_contentpanel ul {
    position: relative;
    float: right;
    top: 30px;
    right: 10px;
}

.g_header li,.g_content li,.g_footer li{
    list-style-type: none;
    float: left;
    margin-left: 55px;
    font-size: 15px;
}


a {
    text-decoration: none;
    color: #373c60;
    font-style:cursive;
}

.g_contentpanel img {
    position: relative;
    float: left;
    top: 20px;
}


.g_p1 {
	width:120px;
    letter-spacing: 1px;
    font-family: sans-serif;
    text-align:left;
    position: relative;
    top: -65px;
    left: 125px;

}

.g_p2 {
    width:120px;
    letter-spacing: 1px;
    font-family: sans-serif;
    text-align:left;
    position: relative;
    top: -65px;
    left: 125px;
}

.g_up img {
    width: 90px;
    height: 90px;
    background-color: #cc9999;
    position: relative;
    top: 20px;
    right: 61px;
}

.g_p3 p {
    font-size: 30px;
    letter-spacing:3px;
    position: relative;
    top:30px;
    right: 50px;

}

.g_l1 {
    height: 30px;
    position: relative;
    top:-12px;
    left: 78px;
}
/*.g_ul1 {*/
    /*width: 100%;*/
    /*height: 665px;*/
    /*zoom:1;*/
    /*overflow: auto;*/
    /*font-family:monospace;*/
    /*background-color:#d10f0f;*/
    /*position:relative;*/
    /*top:30px;*/
/*}*/
.g_ul1 {
    text-align: left;
    font-family:monospace;
    float:left;
    position:relative;
    top:30px;
}


.g_ul1 li {
    width:258px;
    list-style-type: decimal;
    letter-spacing:1px;
    margin-top: 6px;
    margin-bottom: 7px;
    font-size: 20px;
    position: relative;
    top:15px;
    right: 40px;
}

.g_p3 {
    width: 258px;
    height: 50px;
    background-color: #d71414;
}

.g_xiangmu {
    width: 258px;
    height: 50px;
    font-size: 30px;
    text-align: left;
    padding-left:20px;
    letter-spacing:3px;
    float:left;
    background-color: #d71414;
    position: relative;
    top: 30px;
}

.g_p4 p {
    font-size: 20px;
    letter-spacing:3px;
    font-weight: 600;
    position: relative;
    top:60px;
    left: 10px;
}

.g_l2 {
    height: 20px;
    position: relative;
    top:30px;
    left: 100px;
}

.g_p5 b{
    font-size:20px;
    letter-spacing:3px;
    font-weight:330;
    position: relative;
    top:64px;
    left: 21px;
}

.g_l3 {
    height: 20px;
    position: relative;
    top:60px;
    left:52px;
}

.g_ul2{
    font-size: 17px;
    font-family:cursive;
    letter-spacing:1px;
    background-color:#d10f0f;
    position: relative;
    top:50px;
}
.g_ul3{
    font-size: 17px;
    font-family:cursive;
    letter-spacing:1px;
    background-color:#d10f0f;
    position: relative;
    top:80px;
}



.g_ul2 li,.g_ul3 li {
    margin-top: 20px;
    position: relative;
    top: -10px;
    left: 30px;
}

.g_ul2 img,.g_ul3 img{
	position:relative;
	left:110px;
	top:10px;
}

.g_fanhui{

    margin-left: -130px;
    position: fixed;
    top: 400px;  
}

.g_p_hide p{
	font-size:30px;
	letter-spacing:4px;
	float:left;
	margin-top:20px;
	margin-left:20px;
	font-weight:400;
}

.g_footer{
    position: relative;
    bottom: 0;
    width: 100%;
    height: 90px;
    background-color: #f1f1f1;
    border-style: solid none none;
    border-width: 2px;
    border-color: #e1e1e1;
}

.g_footer img,.g_footer p{
    float: left;
    margin:0;
    padding:0;
    font-size: 14px;
}

.g_footer a{
    font-size: 11px;
}

.g_footer li{
     margin-left: 40px;
}
.g_contentpanel-footer{
    width: 1103px;
    height: 90px;
    position: relative;
    margin: 0 auto;
}

.g_contentpanel1{
    width: 500px;
    height: 90px;
    position: relative;
    float: left;
    margin-top: 10px;
}

.g_contentpanel2{
    width: 350px;
    height: 90px;
    position: relative;
    float: right;
    margin-top: 10px;
}

.g_contentpanel1 ul {
    position: relative;
    top:10px;
    left: -52px;
}


.g_contentpanel2 ul {
    position: relative;
    float: left;
    left:-80px;
    top:10px;
}

.g_content_right_header{
    width: 100%;
    height: 60px;
    position: relative;
    margin:0 auto;
    background-color: #c20b0b;
    border-style: none none solid;
    border-width: 3px;
    border-color: #f1f1f1;
    color: #bababb;
}

.g_maincontent{
    width: 750px;
    height: 500px;
    margin:15px auto;
    position: relative;
    border-style: none solid solid;
    border-width: 1px;
    border-color: #f1f1f1;
}

.g_content_right_header a{
    color:#bababb;
}
.g_content_right_header ul{
    position: relative;
    float: right;
    margin-right: 30px;
    margin-top: 22px;
}

.g_content_right_header li{
    list-style-type: none;
    float: left;
    margin-left: 15px;
    font-size: 12px;
}

.date{
    width: auto;
    height: auto;
    display: inline-block;
    float: left;
    margin-top: 10px;
    margin-left: 5px;
}

.g_content_right_header p{
    width: auto;
    font-size: 12px;
    display: block;
    float: left;
    margin-top: 22px;
    margin-left: 20px;
}

.btn-xs{
    margin-left: 20px;
    color: #bababb;
    margin-top: 9px;
    margin-left: 25px;
}

.btn-group{
    float: left;

}

.g_maincontent_header{
    width: 100%;
    height: auto;
    zoom:1;
    overflow: hidden;
    background-color: #fafafa;
}

.btn{
    border-radius: 0;
}

.main1_1,.main1_2,.main1_3,.main1_4,.main1_5,.main1_6,.main1_7{
   width: 100%;
   height: 400px;
   margin:20px auto;
}
.yujing{
    height:700px;
    width: 770px;
    background-color: #f4f5f7;
    position:relative;
    top:50px;
    left:10px;
}
.yujing button{
    width:150px;
    height:35px;
    font-size: 20px;
    letter-spacing:2px;
    border-radius:4px;
    background-color:white;
    border-color: #cfcfd0；
    border-width:1px;
    position:relative;
    top:25px;
    left:25px;
}
.yujing1{
    height:600px;
    width: 700px;
    border-style:solid;
    border-width:2px;
    border-color: #cfcfd0;
    background-color: white;
    position: relative;
    left:35px;
    top:60px;
}
.yujing1 p{
    font-size:25px;
    width:695px;
    height:60px;
    border-style:none none solid none;
    border-width:2px;
    border-color: #cfcfd0;
    padding-left:20px;
    padding-top:13px;
    letter-spacing:3px;
    position:relative;
}
.yujing2 table{
    position: relative;
    left:20px;
}
.yujing2 th{
    font-size: 16px;
    text-align: center;
    width:auto;
    height:35px;
    background-color: #f5f5f5;
    border-style:solid;
    border-width:1px;
}
.yujing2 td{
    height:35px;
    padding-left:25px;
    padding-right:25px;
    border:none;
}

.yujing2 a{
    border:none;
    padding-left:5px;
    color:#417a7b;
    position:relative;
}
.rizhi{
    height:600px;
    width: 750px;
    background-color: #f4f5f7;
    position:relative;
    top:50px;
    left:10px;
}
.rizhi1 p{
    height:60px;
    font-size:25px;
    padding-top:50px;
    position:relative;
    left:30px;
}
.rizhi2{
    font-size:17px;
    border-color:black;
    position:relative;
    top:40px;
    left:30px;
}
.rizhi2 td,.rizhi2 th{
    text-align:center;
    border-color:black;
    width:115px;
    height: 50px;
}
.rizhi button{
    width:135px;
    height: 45px;
    font-size:20px;
    letter-spacing:3px;
    border:none;
    border-radius:7px;
    background-color: #009a44;
    display:block;
    margin:auto auto;
    position:relative;
    top:110px;
}