body {
    font: 12px Georgia,Monospace;
    text-align: center;
    background-color: #fafafa;
    position: relative;
    height: auto;
    width: 100%;
    min-height: 100%;
    margin: 0;
    padding: 0;
}


a {
    text-decoration: none;
    color: #373c60;
    font-style: cursive;
}

li {
    list-style-type: none;
}


.header {
    height: 78px;
    position: relative;
    background-color: white;
    border-style: none none solid;
    border-width: 3px;
    border-color: #f1f1f1;
}

.contentpanel {
    width: 1103px;
    height: 78px;
    position: relative;
    margin: 0 auto;
}

.content {
    width: 1103px;
    height: auto;
    display: inline-block;
    position: relative;
    margin-top: 12px;
}

.content_left {
    width: 258px;
    height: 880px;
    position: relative;
    float: left;
    color: #fff;
    border-style: none solid;
    border-width: 3px;
    border-color: #f1f1f1;
}

.content_right {
    width: 810px;
    min-height: 880px;
    position: relative;
    float: right;
    background-color: #fff;
    border-style: solid;
    border-width: 3px;
    border-color: #f1f1f1;
}

.up {
    height: 129px;
    background-color: #c20b0b;
    border-style: solid none none;
    border-width: 3px;
    border-color: #f1f1f1;
}

.down{
    height: 743px;
    margin-top: 8px;
    background-color: #d71414;
    border-style: none none solid;
    border-width: 3px;
    border-color: #f1f1f1;
}
.contentpanel ul {
    float: right;
    position: relative;
    top: 30px;
    right:10px;
}

.contentpanel li {
    list-style-type: none;
    float: left;
    margin-left: 55px;
    font-size: 15px;
}
.contentpanel a{
    outline:none;
}
.d3{
    width:400px;
    height:550px;
    position:relative;
    top:100px;
    left:100px;
}

.t3{
    font-size:25px;
    letter-spacing:2px;
    float: left;
    margin-left:20px;
    color:#0f0a50;
}
.b3{
    height:330px;
    font-family: cursive;
}
.xgmm1 ul{
    list-style-type: none;
    position:relative;
    top:-10px;
    right:40px;
}
.xgmm1 li{
    float:left;
    padding-top:17px;
}
.xgmm1 input{
    font-size: 18px;
    height:35px;
    width:280px;
    padding-left:15px;
    letter-spacing:1px;
    border-radius:3px;
}
.xgmm2 a{
    font-size: 18px;
    width: 165px;
    background-color:#4683fe;
    position:relative;
    top:12px;
    right:4px;

}
.xgmm2 input{
    width: 116px;
    height:22px;
    padding-left:5px;
    position:relative;
    top:11px;
    left:11px;
}
.contentpanel img {
    position: relative;
    float: left;
    top: 20px;
}

.p1 {
    width:120px;
    letter-spacing: 1px;
    font-family: sans-serif;
    text-align:left;
    position: relative;
    top: -65px;
    left: 125px;
}

.p2 {
    width:120px;
    letter-spacing: 1px;
    font-family: sans-serif;
    text-align:left;
    position: relative;
    top: -65px;
    left: 125px;
}

.up img {
    width: 90px;
    height: 90px;
    background-color: #cc9999;
    position: relative;
    top: 20px;
    right: 61px;
}

.down-1 p {
    font-size: 30px;
    font-family: Georgia;
    margin-top: 60px;
    position: relative;
    top: 20px;
}

.x1 p {
    width: 252px;
    padding-right: 45px;
    position: relative;
}

.x2 p {
    margin-right: 40px;
    width: 252px;
    padding-right: 40px;
    position: relative;
}

.down-1 img {
    float: right;
    height: 38px;
    position: relative;
    top: -25px;
}

.down-2 p {
    background-color: ;
    letter-spacing: 2px;
    font-size: 25px;
    font-family: monospace;
    margin: 0;
    height: 50px;
}

.down-2 ul {
    width:258px;
    background-color: #d10f0f;
    margin: 0;
    font-size:15px;
    position: relative;
    top:-30px;
}

.down-2 li {
    width:258px;
    text-align:left;
    font-family: cursive;
    padding-top: 8px;
    padding-bottom:7px;
    padding-left:110px;
    font-size: 16px;
    position: relative;
    right:40px;
}

.down-2 img {
    position: relative;
    top: -50px;
    left: 100px;
}

.y2 img {
    position: relative;
    top: -60px;
}

.y1 li {}

.y2 ul {
    position: relative;
    top: -40px;
}

.y0 p {
    text-align: left;
    font-size: 26px;
    font-family: cursive;
    margin-top: 20px;
    padding-left: 20px;
}

.y1 p {
    font-size: 21px;
    padding-right: 20px;
    padding-top: 15px;
    margin-top: 10px;
    margin-bottom:15px;
    position: relative;
}

.y2 p {
    font-size: 21px;
    padding-right: 20px;
    position: relative;
    top: -7px;
}

.fanhui {
    margin-left:-101px;
    position: fixed;
    top: 430px;
}

.denglu p{
    font-size: 30px;
    font-weight:500px;
    float:left;
    letter-spacing:3px;
    font-family:sans-serif;
    margin-top:20px;
    margin-left:20px;
}

.xmguanli1{
   float: left;
   font-size: 25px;
   margin-top: 10px;
   margin-left: 30px;
   font-family:monospace;
   position:relative;
}
.xmguanli2{
    width:770px;
    height:2px;
    margin-left: 20px;
    background-color:#e8e2e7;
    position:relative;
    top:50px;
}
.xmguanli input{
    float: right;
    margin-right: 30px;
    position: relative;;
    top:3px;
}
.xmguanli img{
    height:15px;
    float:right;
    position:relative;
    left:120px;
    top:6px;
}


.glyshezhi1{
   float: left;
    width:300px;
   font-size: 25px;
    text-align: left;
   margin-top: 10px;
   margin-left: 30px;
   font-family:monospace;
   position:relative;
}
.return1{
    width:110px;
    height:30px;
    font-size:20px;
    border-style:ridge;
    border-radius:3px;
    background-color:white;
    position: relative;
    left:150px;
    top:10px;
}
.glyshezhi2{
    width:770px;
    height:2px;
    margin-left: 20px;
    background-color:#e8e2e7;
    position:relative;
    top:20px;
}
.g1{
    width:120px;
    height:30px;
    outline:none;
    float:left;
    letter-spacing: 2px;
    border-color:#c5c5c5;
    border-width:1px;
    border-radius:1px;
    background-color:white;
    position:relative;
    top:27px;
    right:310px;
}
.g1 p{
    font-size:15px;
    position:relative;
    right:5px;
    bottom:5px;
}
.d1{
    width:300px;
    height:450px;
    position:relative;
    top:100px;
    left:100px;
}

.t1{
    font-size:25px;
    letter-spacing:2px;
    color:#0f0a50;
}
.b1{
    height:350px;
    font-family: cursive;
}
.b1 ul{
    list-style-type: none;
    position:relative;
    bottom:10px;
    right:17px;
}
.b1 li{
    float:left;
    padding-top:8px;
}
.b1 input{
    height:30px;
    width:220px;
    padding-left:15px;
    letter-spacing:1px;
    border-radius:3px;
}
.beizhu{
    font-size:16px;
    width:220px;
    height:140px;
    position:relative;
    right:1px;
}
.beizhu label{
    position:relative;
    right:87px;
}
.glyshezhi4{
    float: right;
    margin-right: 20px;
    position: relative;;
    top:30px;
    right:10px;
}
.glyshezhi img{
    height:15px;
    float:right;
    position:relative;
    left:100px;
    top:32px;
}



.gsguanli_nr1{
   float: left;
   font-size: 25px;
   margin-top: 10px;
   margin-left: 30px;
   font-family:monospace;
   position:relative;
}
.gsguanli_nr2{
    width:770px;
    height:2px;
    margin-left: 20px;
    background-color:#e8e2e7;
    position:relative;
    top:50px;
}
.gsguanli_nr4{
    float: right;
    margin-right: 20px;
    position: relative;;
    top:60px;
}
.gsguanli_nr img{
    height:15px;
    float:right;
    position:relative;
    left:110px;
    top:62px;
}
.biao4tou button{
    width:120px;
    height:30px;
    float:left;
    font-size:15px;
    letter-spacing: 2px;
    outline:none;
    border:solid 1px #c5c5c5;
    background-color:#fff;
    position:relative;
    top:55px;
    right:160px;
}
/*.return2{*/
    /*width:110px;*/
    /*height:30px;*/
    /*font-size:20px;*/
    /*border-style:ridge;*/
    /*border-radius:3px;*/
    /*background-color:white;*/
    /*position: relative;*/
    /*left:430px;*/
/*}*/
/*.xmguanli_nr1{*/
   /*float: left;*/
   /*font-size: 25px;*/
   /*margin-top: 10px;*/
   /*margin-left: 30px;*/
   /*font-family:monospace;*/
   /*position:relative;*/
/*}*/
/*.return2{*/
    /*width:110px;*/
    /*height:30px;*/
    /*font-size:20px;*/
    /*border-style:ridge;*/
    /*border-radius:3px;*/
    /*background-color:white;*/
    /*position: relative;*/
    /*left:230px;*/
    /*top:10px;*/
/*}*/
/*.xmguanli_nr2{*/
    /*width:770px;*/
    /*height:2px;*/
    /*margin-left: 20px;*/
    /*background-color:#e8e2e7;*/
    /*position:relative;*/
    /*top:20px;*/
/*}*/


.biao2tou,.biao4tou{
    height:115px;
}
/*.biao3tou{*/
    /*height:75px;*/
/*}*/
.biao1{
    position: relative;
    top:20px;
}
.biao2{
    position: relative;
}
.biaoge table{
    border-color:#f1f1f1;
}
.biaoge th{
    height:45px;
    text-align:center;
    font-size:20px;
}
.biaoge td{
    height:45px;
    font-family:sans-serif;
    font-size:15px;
}
.biao1 button{
    height:20px;
    color:#fff;
    margin-bottom:13px;
    background-color:#7f70f2;
    border: none;
}
.biao1 p{
    position:relative;
    bottom:1px;

}

.biao2 button{
    height:20px;
    color:#fff;
    border-radius:2px;
    margin-bottom:13px;
    background-color:#7f70f2;
    border: none;
    font-size:13px;
    position:relative;
    bottom:4px;
}
.g2{
    height:26px;
    width:40px;
    outline:none;
    position:relative;
    top:1px;
    bottom:1px;
    color:#d2cdbc;
}
.g2 p{
    font-size:14px;
    position:relative;
    right:7px;
    bottom:6px;
}
.d2{
    width:350px;
    height:500px;
    position:relative;
    top:100px;
    left:100px;
}
.modal-backdrop{
    background-color:#000;
}

.t2{
    font-size:28px;
    text-align:center;
    letter-spacing: 3px;
    color:#201c42;
}
.b2{
    height:400px;
    font-family: cursive;
}
.shuxing{
    width:150px;
    text-align:left;
    float: left;
    padding-top: 20px;
    padding-left:20px;
    font-size: 20px;
    position:relative;;
    bottom: 20px;
}
.zhi{
    width:150px;
    text-align:left;
    float:right;
    padding-top: 20px;
    padding-left:20px;
    font-size: 20px;
    position:relative;;
    bottom: 20px;
}
.b2 ul{
    list-style-type: none;
    position:relative;
    bottom:20px;
    right:17px;
}
.b2 li{
    float:left;
    padding-top:10px;
}
.b2 input{
    height:30px;
    width:250px;
    padding-left:7px;
    letter-spacing:1px;
    border-radius:3px;
}
.modal-footer button{
    display: block;
    font-size:20px;
    height:40px;
    letter-spacing:10px;
    width:140px;
    background-color:#7b96e5;
    margin:auto auto;
    position:relative;
}

.fenye {
    position: absolute;
    left:130px;
    bottom: 0; 
}
.fenye li {
    margin-right: 30px;
}
.fenye input {
    width: 30px;
}

.xinzenggs1{
   float: left;
   font-size: 25px;
   margin-top: 10px;
   margin-left: 30px;
   font-family:monospace;
   position:relative;
}
.return3{
    width:110px;
    height:30px;
    font-size:20px;
    border-style:ridge;
    border-radius:3px;
    background-color:white;
    position: relative;
    left:230px;
    top:10px;
}
.xinzenggs2{
    width:770px;
    height:2px;
    margin-left: 20px;
    background-color:#e8e2e7;
    position:relative;
    top:20px;
}
.tianjiags{
   position: relative;
   top:60px;  
}
.tianjiags img{
    width:750px;
    position: relative;
    right:5px;
}
.buzhou1{
    width:600px;
    height:350px;
    background-color: #f2f2f2;
    position: relative;
    bottom:30px;
    left:52px;
}
.buzhou1 p{
    width:120px;
    font-size:25px;
    letter-spacing:3px;
    margin-top:30px;
    font-weight:500;
    position:relative;
    top:90px;
    left:90px;
}
.buzhou1 input{
    float:right;
    width:260px;
    height:32px;
    font-size: 20px;
    font-family: serif;
    padding-left:5px;
    letter-spacing:2px;
    border-radius:5px;
    position:relative;
    top:50px;
    right:90px;
}
.buzhou1 button{
    width:110px;
    height:35px;
    background-color:#129ed3;
    border-radius:3px;
    font-size:25px;
    letter-spacing:2px;
    position:relative;
    top:130px;
    left:120px;
}
.buzhou2{
    width:600px;
    height:440px;
    background-color: #f2f2f2;
    position: relative;
    left:52px; 
}
.buzhou2 ul{
    font-size:20px;
    position:relative;
    top:50px;
}
.buzhou2 li{
    padding-top:40px;
    position:relative;
    right:70px;
}
.buzhou2 input{
    font-size:15px;
    width:220px;
    height:30px;
    padding-left:5px;
    border-radius:3px;
    font-family: serif;
    float:right;
    position:relative;
    right:100px;
    bottom:2px;
}
.buzhou2 button{
    width:90px;
    height:28px;
    background-color:#129ed3;
    border-radius:3px; 
    font-size:20px;
    letter-spacing:2px;
    position:relative;
    top:120px;
}
.buzhou3{
    width:600px;
    height:370px;
    background-color: #f2f2f2;
    position: relative;
    left:52px; 
}
.buzhou3 p{
    font-size:30px;
    letter-spacing:3px;
    font-weight:500px;
    text-align:center;
    position:relative;
    top:150px;
}
.diyibu{
    width:700px;
    height:428px;
    margin-left:50px;
    background-color: #ededed;
}
.dierbu{
    width:700px;
    height:515px;
    margin-left:50px;
    background-color: #ededed;
}
.disanbu{
    width:700px;
    height:448px;
    margin-left:50px;
    background-color: #ededed;
}

.g_footer {
    position: relative;
    font-weight: 300;
    bottom: 0;
    width: 100%;
    height: 90px;
    background-color: #f1f1f1;
    border-style: solid none none;
    border-width: 2px;
    border-color: #e1e1e1;
}

.g_footer img,
.g_footer p {
    float: left;
    margin: 0;
    padding: 0;
    font-size: 14px;
}

.g_footer img {
    height: 25px;
    margin-top: 0px;
}

.g_footer a {
    font-size: 11px;
}

.g_footer li {
    margin-left: 40px;
    float: left;
}

.g_contentpanel-footer {
    width: 1103px;
    height: 90px;
    position: relative;
    margin: 0 auto;
}

.g_contentpanel1 {
    width: 550px;
    height: 90px;
    margin-top: 10px;
    position: relative;
    float: left;
}

.g_contentpanel2 {
    width: 350px;
    height: 90px;
    position: relative;
    float: right;
    margin-top: 20px;
}

.g_contentpanel1 ul {
    margin-top: 10px;
    position: relative;
    top: 25px;
    left: -132px;
}

.g_contentpanel2 ul {
    position: relative;
    float: left;
    top:10px;
    left: -80px;
}

/*加*/
.xmguanli_nr_main{
    position: relative;
    width: 100%;
    height: 100%;
}

.g_content_right_header{
    width: 100%;
    height: 60px;
    position: relative;
    margin:0 auto;
    background-color: #c20b0b;
    border-style: none none solid;
    border-width: 3px;
    border-color: #f1f1f1;
    color: #bababb;
}

.g_maincontent{
    width: 750px;
    height: 500px;
    margin:15px auto;
    position: relative;
    border-style: none solid solid;
    border-width: 1px;
    border-color: #f1f1f1;
}

.g_content_right_header a{
    color:#bababb;
}
.g_content_right_header ul{
    position: relative;
    float: right;
    margin-right: 30px;
    margin-top: 22px;
}

.g_content_right_header li{
    list-style-type: none;
    float: left;
    margin-left: 15px;
    font-size: 12px;
}

.date{
    width: auto;
    height: auto;
    display: inline-block;
    float: left;
    margin-top: 10px;
    margin-left: 5px;
}

.g_content_right_header p{
    width: auto;
    font-size: 12px;
    display: block;
    float: left;
    margin-top: 22px;
    margin-left: 20px;
}

.btn-xs{
    margin-left: 20px;
    color: #bababb;
    margin-top: 9px;
    margin-left: 25px;
}

.btn-group{
    float: left;

}

.g_maincontent_header{
    width: 100%;
    height: auto;
    zoom:1;
    overflow: hidden;
    background-color: #fafafa;
}

.btn{
    border-radius: 0;
}

.main1_1,.main1_2,.main1_3,.main1_4,.main1_5,.main1_6,.main1_7{
   width: 100%;
   height: 400px;
   margin:20px auto;
}
/*加*/
.yujing{
    height:700px;
    width: 770px;
    background-color: #f4f5f7;
    position:relative;
    top:50px;
    left:10px;
}
.yujing button{
    width:150px;
    height:35px;
    font-size: 20px;
    letter-spacing:2px;
    border-radius:4px;
    background-color:white;
    border-color: #cfcfd0；
    border-width:1px;
    position:relative;
    top:25px;
    left:25px;
}
.yujing1{
    height:600px;
    width: 700px;
    border-style:solid;
    border-width:2px;
    border-color: #cfcfd0;
    background-color: white;
    position: relative;
    left:35px;
    top:60px;
}
.yujing1 p{
    font-size:25px;
    width:695px;
    height:60px;
    border-style:none none solid none;
    border-width:2px;
    border-color: #cfcfd0;
    padding-left:20px;
    padding-top:13px;
    letter-spacing:3px;
    position:relative;
}
.yujing2 table{
    position: relative;
    left:20px;
}
.yujing2 th{
    font-size: 16px;
    text-align: center;
    width:auto;
    height:35px;
    background-color: #f5f5f5;
    border-style:solid;
    border-width:1px;
}
.yujing2 td{
    height:35px;
    padding-left:25px;
    padding-right:25px;
    border:none;
}

.yujing2 a{
    border:none;
    padding-left:5px;
    color:#417a7b;
    position:relative;
}
.rizhi{
    height:600px;
    width: 750px;
    background-color: #f4f5f7;
    position:relative;
    top:50px;
    left:10px;
}
.rizhi1 p{
    height:60px;
    font-size:25px;
    padding-top:50px;
    position:relative;
    left:30px;
}
.rizhi2{
    font-size:17px;
    border-color:black;
    position:relative;
    top:40px;
    left:30px;
}
.rizhi2 td,.rizhi2 th{
    text-align:center;
    border-color:black;
    width:115px;
    height: 50px;
}
.rizhi button {
    width: 135px;
    height: 45px;
    font-size: 20px;
    letter-spacing: 3px;
    border: none;
    border-radius: 7px;
    background-color: #009a44;
    display: block;
    margin: auto auto;
    position: relative;
    top: 110px;
}